.car-details-page {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.car-details-page__content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 32px 64px 64px;
  width: 100%;
  background: var(--ui-03);
}

.car-details-page__overview {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.car-details-page__hero-row {
  display: flex;
  gap: 32px;
  align-items: flex-start;
}

@media (max-width: 1023px) {
  .car-details-page__hero-row {
    flex-direction: column;
  }
}

@media (max-width: 979px) {
  .car-details-page__content {
    padding-left: 44px;
    padding-right: 44px;
  }
}

@media (max-width: 779px) {
  .car-details-page__content {
    padding: 24px 32px 48px;
  }
}
